@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f13033;
  --primary-color-dark: #c3282b;
  --secondary-color: #f9f9f9;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --white: #ffffff;
  --max-width: 1200px;
  --text-1:#0f2341; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.section__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  margin-left: 40%;
}



.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}
.badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 2px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: #f0c8c9;
  border-radius: 1rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

.header {
  background-image: url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}

.link a:hover {
  color: var(--primary-color);
}

.header__container {
  padding: 5rem 1rem 10rem;
}

.header__container h1 {
  margin-bottom: 4rem;
  max-width: 1000px;
  margin-inline: auto;
  font-size: 3.5rem;
  color: var(--white);
  text-align: center;
}

.header__form {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.header__form form {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 10px;
}



.trending__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.trending__card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.trending__card img {
  margin-bottom: 1rem;
  border-radius: 10px;
}

.trending__card p {
  font-size: 0.9rem;
  color: var(--text-light);
}

.trending__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.trending__details {
  padding-block: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.trending__details p {
  font-weight: 500;
  color: var(--text-dark);
}

.trending__details h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.trending__ratings span {
  font-size: 0.9rem;
  color: goldenrod;
}

.trending__ratings p {
  text-align: right;
}

.trending__card h5 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.trending__card h5 span {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.trending__card p span {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.trending__card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.destination__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 350px repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 1.5rem;
}

.destination__card {
  position: relative;
}

.destination__card:nth-child(1) {
  grid-area: 1/1/3/2;
}

.destination__card:nth-child(2) {
  grid-area: 1/2/2/4;
}

.destination__card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.destination__details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.destination__details h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.destination__details p {
  font-size: 0.9rem;
  color: var(--white);
}

.seller__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.seller__image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.seller__image__content {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.3s;
}

.seller__image .badge {
  left: unset;
  right: 1rem;
}

.seller__image__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.seller__price p {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: var(--secondary-color);
}

.seller__price h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.seller__image__footer .btn {
  font-size: 0.9rem;
  font-weight: 400;
}

.seller__details {
  padding: 1.5rem;
  text-align: center;
}

.seller__details h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.seller__details p {
  color: var(--text-light);
}

.seller__card:hover .seller__image__content {
  opacity: 1;
  cursor: pointer;
}

.tour {
  margin-bottom: 2rem;
  background-image: url("assets/tour.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour__container {
  padding-bottom: 0;
}

.tour__container h4 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}

.video__container {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  height: 300px;
  overflow: hidden;
  background-color: var(--text-light);
  transform: translateY(2rem);
  border: 1px solid var(--white);
  border-radius: 10px;
}



.client__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.client__card {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.client__card__header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client__card__header span {
  font-size: 2rem;
  color: var(--primary-color);
}

.client__card__header .ratings span {
  font-size: 1.2rem;
  color: goldenrod;
}

.client__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.client__card__footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.client__card__footer img {
  max-width: 60px;
  border-radius: 100%;
}

.client__card__footer h4 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.client__card__footer p {
  font-size: 0.9rem;
  margin: 0;
}

.client__card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.footer-1 {
  background-color: var(--text-1);
}

.footer-1 .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem 3rem;
}

.footer-1 .row .col:last-child {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  gap: 2rem;
}

.footer-1 .row .col:last-child img {
  height: 10rem;
}

.footer-1 .row .col {
  display: flex;
  flex-direction: column;
}

.footer-1 .row .col h3 {
  color: white;
  margin-bottom: 1rem;
}

.footer-1 .row .col a {
  display: inline-block;
  color:white;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
  .footer-1 .row {
    row-gap: 7rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 567px) {
  .footer-1 .row {
    gap: 4rem 0;
    grid-template-columns: 1fr;
  }
}

@media (width < 900px) {
  .nav__links {
    gap: 1rem;
  }

  .link a {
    padding: 0;
  }

  .trending__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .destination__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .destination__card:nth-child(1),
  .destination__card:nth-child(2) {
    grid-area: unset;
  }

  .seller__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .guide__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .client__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footers__container {
    grid-template-columns: 2fr 1fr;
  }

  .footers__col:nth-child(4) {
    grid-area: 2/1/3/2;
  }
}

@media (width < 600px) {
  .nav__links {
    display: none;
  }

  .header__form form {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .trending__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .seller__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .guide__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .client__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container input {
    padding: 0 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}





a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--text-1);
}

p {
  color: var(--text-2);
  line-height: 1.5;
}


/* =========== Custom Classes ============ */
.d-flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.section {
  margin: 5rem 0;
  padding: 10rem 0 5rem;
  overflow: hidden;
}

.title {
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 4rem;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 567px) {
  .title h1 {
    font-size: 3rem;
  }

  .section {
    margin: 5rem 0;
    padding: 5rem 0 0;
  }
}

/* =========== Navigation ============ */



.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  padding: 1rem 0;


}

.nav {
  max-width: 996px;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-between;
}

.logo img {
  width: 7rem;
  height:6rem;
  margin-left: -50px;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.class {
  display: inline-block;
  padding: 1rem;
  color: #DC143C;
}

.btn {
  display: inline-block;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--primary);
  padding: 1.5rem 2.5rem;
  transition: var(--transition-300);
}

.btn:hover {
  border-color: var(--primary);
  box-shadow: var(--shadow-500);
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(0);
}

.btn.sign-up {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  transition: var(--transition-300);
}

.btn.sign-up:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.hamburger {
  display: none;
  font-size: 3rem;
  color: var(--black);
  cursor: pointer;
}

.navigation.fix {
  position: fixed;
  background-color: var(--text-1);
}

@media (max-width: 768px) {
  .btn.sign-up {
    display: none;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 0;
    height: 100%;
    max-width: 80%;
    padding: 3rem 0;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: var(--shadow-300);
    transition: var(--transition-500);
  }

  .nav-list.open {
    left: 0;
    width: 100%;
  }

  .nav-list .nav-item {
    margin: 0 0 1rem;
    color: black;
  }

  .nav-list .class {
    font-size: 2rem;
    padding: 1rem;
    color: var(--text-1);
    font-weight: 500;

  }

  .hamburger {
    display: flex;
  }

  .logo img {
    width: 5rem;
    height: 5rem;
    margin-left: 50px;
  }
}
.div-1 img{
    width: 90%;
    height: 20%;
    margin-left: 60px;
    margin-top: 10px;
}

.copyright p{
  color: white;
}